<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tous les articles</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min-jsf.css} "/>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/article/slick-form.css}" />
</head>
<body class="bg-light">
    <div class="container min-vh-100 min-vw-100 m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-4 justify-content-between">
            <a class="navbar-brand" href="#">Gestion de Stock</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item active"
                            th:if="${principalRole.equals('ROLE_ADMIN')}">
                            <a class="nav-link" th:href="@{/utilisateurs}">Utilisateurs</a>
                        </li>
                        <li class="nav-item active"
                            th:if="${principalRole.equals('ROLE_MAGASIN')}" >
                            <a class="nav-link" th:href="@{/articles}">Articles</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a th:href="@{/logout}" class="btn btn-info text-nowrap">se déconnecter</a>
        </nav>

        <div class="container">
            <div class="text-center mt-5">
                <h1>Articles</h1>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="col w-100 d-flex justify-content-end mb-2">
                        <a class="btn btn-primary" href="ajouter-article">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            Ajouter un nouvel Article</a>
                    </div>
                    <div class="col">
                        <div th:switch="${articles.size()}">
                            <div th:case="${0}" class="text-center">
                                <p class="font-size-large">
                                    Pas d'articles ajoutés.
                                </p>
                                <img alt="empty box" th:src="@{graphics/empty-box.png}" />
                            </div>
                            <table th:case="*" class="table bg-white rounded border">
                                <thead>
                                <tr>
                                    <th>#</th><th>Nom</th><th>Description</th><th>Quantité</th><th></th><th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="article : ${articles}">
                                    <td th:text="${article.getId()}" class="align-content-center"></td>
                                    <td th:text="${article.getName()}" class="align-content-center"></td>
                                    <td class="align-content-center">
                                        <span th:text="${#strings.abbreviate(article.description, 50)}"></span>
                                    </td>
                                    <td th:text="${article.getQuantity()}" class="align-content-center"></td>
                                    <td class="align-content-center object-fit-contain">
                                        <a th:href="@{/modifier-article(article_id=${article.getId()})}"
                                           th:param
                                        >
                                            <button class="btn btn-primary"
                                            ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                                            </svg></i></button></a>
                                    </td>
                                    <td class="align-content-center object-fit-contain">
                                        <a th:href="@{/supprimer-article(article_id=${article.getId()})}"
                                           th:param
                                        >
                                            <button class="btn btn-danger"
                                            ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg></button></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>