<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Connection</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min-jsf.css} "/>
</head>
<body class="bg-dark">
  <div class="container min-vh-100 align-content-center">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card-body bg-light p-4 rounded-1">
          <div class="container">
            <div class="row">
              <div class="row mb-4">
                <h3 class="text-start">Connectez-vous pour continuer...</h3>
              </div>
              <div class="row mb-4">
                <div class="col text-center">
                  <img th:src="@{graphics/lock.png}" alt="lock" />
                </div>
              </div>
              <div class="row mb-4">
              </div>
              <div th:unless="${param.error == null}" class="row">
                <div class="col">
                  <div class="mb-3">
                    <p class="alert-danger alert">Erreur lors de la connection.</p>
                  </div>
                </div>
              </div>
              <div th:unless="${param.logout == null}" class="row">
                <div class="col">
                  <div class="mb-3">
                    <p class="alert-success alert">Deconnection avec succès.</p>
                  </div>
                </div>
              </div>
                <form th:action="@{/login}" method="post">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3 form-group">
                        <label for="username" class="form-label">Nom d'utilisateur</label>
                        <input type="text" class="form-control"
                               id="username" name="username" placeholder="votre nom d'utilisateur"
                               aria-selected="true"
                        >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3 form-group">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password"
                               name="password" placeholder="******************">
                      </div>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <input type="submit" class="w-100 btn btn-primary rounded-4" value="se connecter" />
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>